<div>
  <p>This currency directives use standard from local country using angular i18n
    <br>for example in Indonesia use EBI, Rp1.000,00 and for negative -Rp1.000,00
    <br>in France/German etc, 1 000,00 € and for negative -1 000,00 €
    <br>in US etc, $1,000.00 and for negative -$1,000.00
    <br>Also this directives can use ISO 4217 or (3-letter alphabet) to distinguish e.g. USD and SGD
  </p>
  <p>The comparison from angular built-in currency pipe is this directives internally use Service for Locale Config
    <br>so
    that developer doesnt need to include the service in
    every single component<br>
    it is also reactive to locale config change
  </p>
  <br>
  <strong>Directive example for One-way binding, equivalent with stringinterpolation | currencypipe </strong>
  <br>
  <span appSolCurrency [money]='uang'></span>
  <br>
  <span>Bind Value : {{uang}}</span>

  <br><br>
  <strong>Directive example for Two-way binding, currency only for display and doesnt change format in ngModel
    content</strong>
  <br>
  <form #testForm="ngForm">
    <label for="code">Input </label>
    <input appSolCurrencyMask [(ngModel)]="uang2" type="text" class="form-control" id="code" name="code" required
      #code="ngModel" />
    <br>
    <span>NgModel Value : {{uang2}}</span>
  </form>
  <br>

  <strong>Simulate change value from component (e.g. http response)</strong>
  <br>
  <button (click)="changeValueModel()">Change to 123</button>

  <br><br>
  <strong>Change Currency Locale</strong>
  <br>
  <button (click)="changeLocale('id')">Indonesia</button>
  <button (click)="changeLocale('fr')">Prancis</button>
  <button (click)="changeLocale('en')">English</button>
  <br><br>
  <label for="tla"><strong>Set 3-letter alphabet</strong></label>
  <input type="checkbox" id="tla" name="tla" [(ngModel)]="isTla" (change)="checkTla()">
</div>